<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.36.8" targetFramework="net45" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.36.8" targetFramework="net45" />
  <package id="EasyHttp" version="1.6.67.0" targetFramework="net45" />
  <package id="FakeItEasy" version="1.25.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.0.1" targetFramework="net40" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="morelinq" version="1.4.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.117" targetFramework="net40" />
  <package id="System.IO.Abstractions.TestingHelpers" version="2.0.0.116" targetFramework="net40" />
  <package id="TeamCity.ServiceMessages" version="3.0.5.1" targetFramework="net40" />
</packages>